[submodule "KystEssentials"]
	path = KystEssentials
	url = git@github.com:Kyst2/KystEssentials.git
[submodule "AsyncNinja"]
	path = AsyncNinja
	url = git@github.com:serg-vinnie/AsyncNinja.git
[submodule "appcorelight"]
	path = appcorelight
	url = git@gitlab.com:UKS/appcorelight.git
